@{
    ViewData["Title"] = "Administration - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Tadpole Special!</h2>
<hr />
<div class="index">
    <p>@Html.ActionLink("See hwat we have available", "ViewAll", "Marketing")</p>
    <p>@Html.ActionLink("Newsletter", "SignUp", "Marketing")</p>
    <p>@Html.ActionLink("Admin Portal", "Index", "Account")</p>
</div>