@{
    ViewData["Title"] = "Administration - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("See hwat we have available", "ViewAll", "Marketing")</p>
<p>@Html.ActionLink("Sign up for the newsletter", "SignUp", "Marketing")</p>
<p>@Html.ActionLink("Admin Portal", "Index", "Account")</p>