<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Son of Cod</h1>
    <div class="content">
        <div class="renderBody">
            @RenderBody()
        </div>
    </div>
</body>
</html>
